<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="/layuiadmin/main.js"></script>
</head>
<body>
	<div id="app">
	
	</div>
<script>
	var vm = new Vue({
		  el: '#app',
		  data: {
			row:{},
			rows:{}
		  },
		  mounted() {
			  window.parent.app.dialogHeight = document.documentElement.offsetHeight+"px";
			  this.row = window.parent.app.dialogRow;
			  this.rows = window.parent.app.dialogRows;
			  console.log(this.row);
			  console.log(this.rows);
		  },
		  methods:{
			  close(){
				  window.parent.app.buttonDialog = false;
			  }
		  }
	})
</script>
</body>
</html>